{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/Contacto.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Comunicate con nosotros a:</span>
{% endblock %}


{% block content %}
<div class="col-lg-8 col-md-10 mx-auto">
    <p>Estamos esperando saber de vos, para que juntos podamos crear ese proyecto que cambie la imagen de tu empresa para siempre.</p>
    <p>Llamanos o escribinos a los siguientes contactos.</p>
    <br>
    <p><b>Teléfono:</b> +54 11 5555 5656</p>
    <p><b>E-mail:</b> grupo20@codoacodo.com.ar</p>
    <br>
    <p>Sabemos que seguramente te preguntes, ¿Cuánto me va a salir esto?</p>
    <p><b>Honorarios:</b> $5000/h (precio base)</p>
  </div>
{% endblock %}
